@import "./variables.scss";

.baneer {
  display: flex;
  justify-content: space-between;
  margin: 40px 130px;
  &__nav {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    &__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__element {
        display: inline;
        list-style-type: none;
        font-size: 24px;
        font-weight: 400;
        color: $salmon;
      }
    }
  }
}
