.baneer{
  display: flex;
  justify-content: space-between;
  border: 2px solid violet;
  &__nav{
    border: 2px solid firebrick;
    &__list{
      display: flex;
      border: 2px solid sienna;
      &__element{
        list-style-type: none;
        border: 2px solid black;
      }
    }
  }
}